<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travelers</title>
    <link rel="stylesheet" th:href="@{/style/main_page/style.css}" />
</head>
<body class="main">
<div class="show-menu">
    <img th:src="@{/images/menu.png}" alt="menu icon" />
</div>
<span id="curtain" class="elem-disappear"></span>
<nav class="menu elem-disappear">
    <div class="title">
        <a href=""> <img src="" alt="" />🏠Home Page </a>
        <a href="/registration_page/index.html"> Registration </a>
        <a href=""> Log In </a>
        <a href=""> About </a>
        <a href=""> Contacts </a>
        <img class="close-icon" th:src="@{/images/close.png}" alt="close icon" />
    </div>
</nav>
<section id="one">
    <div class="poster">
        <img src="" alt="" />
        <div class="photo">Photo</div>
        <div class="text">
            <h2>name of country</h2>
            <h4>Name of city</h4>
            <p>Description</p>
            <button>More</button>
        </div>
    </div>
</section>

<script th:src="@{/script/main_page/script.js}"></script>
</body>
</html>
