<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{style/registration_page/style.css}" />
</head>
<body>
<section id="two">
    <div class="back">
        <a href="/main_page/index.html">
            <img th:src="@{/images/back-ico.png}" alt="back ico" />
        </a>
    </div>
    <form action="" id="registration">
        <h2>Registration</h2>
        <br />
        <label for="first-name-reg">First name</label>
        <input type="text" id="first-name-reg" placeholder="..." />

        <label for="last-name-reg">Last name</label>
        <input type="text" id="last-name-reg" placeholder="..." />

        <label for="mail-reg">Mail</label>
        <input type="mail" id="mail-reg" placeholder="..." />

        <input type="submit" value="Create User" />
    </form>
    <hr />
    <form action="" id="log-in">
        <h2>Log In</h2>
        <br />
        <label for="first-name-log">First name</label>
        <input type="text" id="first-name-log" placeholder="..." />

        <label for="last-name-log">Last name</label>
        <input type="text" id="last-name-log" placeholder="..." />

        <input type="submit" value="Log in" />
    </form>
</section>
<script th:src="@{/script/registration_page/script.js}"></script>
</body>
</html>
