<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{style/registration_page/style.css}" />
</head>
<body>
<section id="two">
    <div class="back">
        <a th:href="@{/main_page}">
            <img th:src="@{/images/back-ico.png}" alt="back ico" />
        </a>
    </div>
    <form th:action="@{/reg/add}" id="registration" th:method="post" th:object="${user_reg}">
        <h2>Registration</h2>
        <br />
        <label for="full-name-reg">Full name</label>
        <input type="text" th:field="*{full_name}" id="full-name-reg" placeholder="Example: John Smith" />

        <label for="password-reg">Password</label>
        <input type="password" th:field="*{password}" id="password-reg" placeholder="..." />

        <label for="email-reg">Email</label>
        <input type="email" th:field="*{email}" id="email-reg" placeholder="..." />

        <input type="submit" value="Create User" />
    </form>
    <hr />
    <form action="" id="log-in">
        <h2>Log In</h2>
        <br />
        <label for="email-log">Email</label>
        <input type="email" id="email-log" placeholder="..." />

        <label for="password-log">Password</label>
        <input type="text" id="password-log" placeholder="..." />

        <input type="submit" value="Log in" />
    </form>
</section>
<script th:src="@{/script/registration_page/script.js}"></script>
</body>
</html>
